*/.DS_Store
.DS_Store
*/.env
*/.env.local
*/.env.prod
*/node_modules
*/package-lock.json
*/yarn.lock
*/savvy-serenity-424116-g1-c96d21178642.json

client/build
server/build
admin/dist

.firebase/
firebase-debug.log
firestore-debug.log
.kai_prettierrc.json

server/coverage